.Barcontainer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    // background-color: #eee;
    background-color: #ddd;
    border: 1px solid rgba(0,0,0, 0.12);;
    padding-top: 20px;
    padding-bottom: 20px
}

.dropdown_campaign,.searchbar{    
    background-color: #ddd;
    border:none;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
    width:200px; 
}

.table{
    border-radius: 0px;
    border: 1px solid rgba(0,0,0, 0.12);
}
// .select{
//     background-color: brown;
// }


// Scss for prospects code

.drop_span{
    width: 190px;
    border: none;
    background-color: #FFFFFF;
}
.grand_parent{
    display: flex;
    width:100%;
    height: 50px;
    
}
.input_search_div{
    background-color: #eee;
    border: 1px solid silver;
    border-bottom: none;
}
.input_field{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 3px;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
}
.in{
    height: 40px;
    width: 100%;
    border: none;
    background-color: #eee;
    // background-color: #f8f9fe;

    // border-radius: 10px;
    // background-color: indianred;
}
.in:focus{
    background-color:#eee !important ;
    outline: none !important;
    box-shadow: none;

}
.child{
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color:#eee ;
}
.child:hover{
    background-color:#ddd;
}
.select_div{
    width: 100%;
}
.prospect_details{
    margin: 15px;
    margin-left: 0px;
    opacity: 0.7;
    text-align: center;
}
.prospect_details> span{
    font-size: 12px;
}
.prospect_details:hover{
        background-color: #eee;
}

.font_icon{
   
    font-size: 20px;
    color: black;
}
.prospect_table{
    background-color: #ffffff;
    font-family: 'sans-serif';
}


.filter_select_prospect{
    width: 100%;
    border: none;
    background-color: #f8f9fe;
    border-bottom: 1px solid;
    opacity: 0.3;
}

// Campaign css

.campaign_label{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    // border: 2px solid;
}
.add_label{
    width: 100%;
    display: flex;
    border: 1px dashed;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 15px;
    cursor: pointer;
}
.label_input{
    height: 40px;
    width: 30%;
    border: none;
    background-color: #eee;
}



// 

// Apps&Crm

.main-view{
    max-width: 100%;
    height:100%;
    background-color:#eee;
    overflow-y: auto;
}
.Apps{
    max-width: 90%;
    height: 100%;
    width: 100%;
    margin: 10px;
}
.N-I{
    font-weight: 100;
    opacity: 0.8;
    font-size: 22pt;
}
.native_media{
    max-width: 100%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}
.native_media_div{
    width: 100%;
    height: 100%;
    line-height: 1.6;
    text-align: center;
    border: 4px solid silver;
    // background-color: #f8f9fe ;
}
.native_media_div > div >span{
    font-size: 1.2em;
    color:black;
}
.native_media_div > div > p{
    font-size: 0.9rem;
    line-height: 1;
    margin-left: 10px;
    margin-right: 10px;
    // font-size: 10px;
}
.native_link{
    color: black;
}
.native_media_div:hover{
    color: black;
    border: 4px solid blue;
}
.native_add{
    width: 20%;
    height: 15%;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}
.native_add:hover{
    background-color: gray;
}
.native_img{
    width: 43px;
    height: 30px;
    background-color: #f5f5f5;
    margin-top: 20px;
    margin-bottom: 20px;
}
.filter_app{
    color: rgb(0, 90, 172);
    font-size: 12px;
}
.filter_select{
    width: 300px;
    border: none;
    background-color: #eee;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
}