// .Barcontainer{
//     display:flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     background-color: #ddd;
//     border: 1px solid rgba(0,0,0, 0.12);;
//     padding:20px 30px 0px;
// }

// .searchbar,.dropdown_campaign,.search_feild_box{    
//     background-color: #ddd;
//     border:none;
//     border-bottom: 1px solid rgba(0,0,0, 0.12);
//     border-bottom-left-radius: 0px;
//     border-bottom-right-radius: 0px;
//     background: transparent; 
//     width:190px; 
// }
// .table{
//     border-radius: 0px;
//     border: 1px solid rgba(0,0,0, 0.12);
// }
input:focus{
    background-color:#ddd !important ;
    outline: none !important;
}
.searchbar{
    padding:4px 0px 0px;
}

// campaign page
.grand_parent{
    display: flex;
    width:100%;
    height: 50px;
    // background-color:#EEEEEE;
}
.input_field{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 3px;
    // border-bottom: 1px solid rgba(0,0,0, 0.12);
    background: none;
}
.in{
    height: 40px;
    width: 200px;
    border: none;
    border-bottom: 1px solid  rgba(0,0,0, 0.12);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #eee;
}
.in:focus{
    background-color:#eee !important ;
    outline: none !important;
    box-shadow: none;
}
.child{
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color:#eee ;
    position: absolute;
    right:0px
}
.child:hover{
    background-color:gray;
}
.font_icon{
    font-size: 20px;
    color: black;
}
.Leadcatcher_Barcontainer,.Campaign_barcontainer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #eee;
    border: 1px solid rgba(0,0,0, 0.12);
    padding:20px 30px 0px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  
}
.Leadcatcher_table,.Campaign_table,.graph_container{
    margin-left: 20px;
    margin-right: 20px;
}
.graph_title{
    color:#666;
    font-weight: 400;
}
 
// campaign table css
.header_sent,.Sent{
    background-color: rgba(0,90,172,.05); 
}

.header_leads,.Leads{
    background: rgba(255,64,129,.05)
}
.header_replies,.Replies{
    background: rgba(135,216,69,.05);
}
.header_open,.Open
{
    background: rgba(165,31,99,.05);
}

// dropdown css
.drop_span{
    border: none;
    outline: none;
    width: 150px;
    border-bottom: 1px solid rgba(0,0,0, 0.12) ;
    border-radius: 0px;
    box-shadow: 0px;
    // height: 15px;
    }
// .drop_span >span{
//     position: absolute;
//     left: 5px;
//     bottom: 1px;
// }   
.Api_access{
    width: 100%;
    height: 100%;
    background-color: black;
}   

.filter_select{
    width: 180px;
    border: none;
    // background-color: #F5F5F5;
    border-bottom: 1px solid rgba(0,0,0, 0.12) ;
    background-color: #eee;
    // margin-bottom: 2px;
    font-size: 12px;

}
.filter_app{
    color: rgb(0, 90, 172);
    font-size: 12px;
    position:absolute;
    top:10px;
}
// .v1,.v2{
//     font-size: 14px;
// }
.scalender_filter_select{
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.12) ;
    // background-color: #eee;
    // margin-bottom: 2px;
    font-size: 12px;
    width:100%;
    background: transparent;

}
.c1{
    border:1px solid green;
   height: 159px;
   width:214px
}

.su,.tu,.we,.th,.fr,.sa{
    font-size: 12px;
    background-color: #ddd;
    padding-right: 5px;
    text-align: center;
}
    .mo{
        font-size: 12px;
        background-color: white;
        padding-right: 5px;   
    }
   .su_box,.mo_box,.tu_box,.we_box,.th_box,.fr_box,.sa_box{
       width:225px;
       height: 141px;
     border-right: 1px solid #fff;
   }
   div >p{
       color:black;
       border-bottom:1px solid #fff;
    //    text-align:left;
       font-size: 12px;
    //    margin-left: 15px;
       }